<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NoteKeeper</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
        <style>
            .area{
                display: flex;
                flex-direction: column;
                height: 95vh;
            }
            textarea{
                width: 100%;
                height: 100%;
            }
        </style>
    </head>

    <body>
        <main>
            <form action="/home/note/<%= note._id %>" method="post">
                <div class="area">
                    <input type="text" name="title" value="<%= note.title %>">
                    <textarea name="content" id="content" rows="10" ><%= note.content %></textarea>
                </div>
                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
            </form>
        </main>
    
        <script>

        </script>

        <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    </body>
</html>